@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	min-width: 280px;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

#wrapper {	
    margin: auto;
}

nav {	
	margin-bottom: 1em;
}

main {
	margin-top: 6.7em;
}

h1 {
	font-size: 2em;
}

header {
	width: 100%;
	position: fixed;
 	top: 0;
	z-index: 1;
}

#upload {
	/* height: 100px;
	min-height: 0px !important; */
	background-color: #9ED3DE;
	color: #686B73;
}

textarea {
	height: 9em;
}

button,
input,
textarea,
#upload {
	border: none;
	outline: none;
}

button,
.fa-sign-out-alt,
.fa-search,
.fa-edit,
.fa-flag,
.fa-pencil-alt,
.fa-book,
.fa-book-open {
	cursor: pointer;
}

h1,
#btn-new,
#btn-save,
#btn-cancel,
#btn-delete,
#upload,
.entry-user-name,
.volley-user-name,
.entry-date,
.volley-date {
	font-weight: 600;
}

body,
#btn-save,
#btn-cancel,
#btn-delete {
	background-color: #1E5994;
}

h1,
#btn-new,
#btn-search,
#btn-save,
#btn-cancel,
#btn-delete,
.fa-sign-out-alt,
.entry,
.is-entry {
	color: #FFFFFF;
}

nav,
h1,
#popup-editor,
.popup-editor {
	padding: .45em;
}

.user-name,
.entry-content,
.volley-content,
.fa-edit,
.fa-flag,
.fa-pencil-alt,
.fa-book,
.fa-book-open {
	margin: .45em;
}

.fa-sign-out-alt {
	margin: .3em .3em 0 0;
}

.entry-content,
.volley-content {
	margin: .3em;
}

#upload,
.entry-user-name,
.volley-user-name,
.volley-count,
.entry-date,
.volley-date,
.entry p:last-child,
.volley p:last-child {
	margin: 0;
	line-height: 1.2em;
	font-size: 1.1em;
}

p a:nth-child(2) {
  display: none;
}

p a img {
	display: block;	
	width: 31ch;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: .6em;
}

header,
#popup-editor,
.popup-editor {
	text-align: center;
}

#popup-editor,
.popup-editor {
	background-color: #636C96;
}

#popup-editor textarea,
.popup-editor textarea {
	box-sizing: border-box;
	margin-bottom: .25em;
	width: 100%;
	resize: vertical;
}

#popup-editor,
.popup-editor,
#template-display-entry {	
	display: none;
}

.volley,
.entry,
.is-entry {
	margin-top: .3em;
	margin-bottom: .3em;
	padding: .6em;		
}

.is-entry .volley-appendable {
	margin-bottom: 1.5em;
}

#btn-new,
.entry,
.is-entry {
	background-color: #2C8394;
}

.entry,
.volley {
	box-shadow: 3px 3px 6px #000000;	
}

.volley {
	background-color: #ACB4DE;
	color: #000000;
}

.float-right {
	float: right;
}

@media only screen and (min-width: 375px) {

	.fa-sign-out-alt,
	.entry-user-name,
	.volley-user-name,
	.toggle-book,
	.volley-count,
	.entry p:last-child,
 	.volley p:last-child {
 		font-size: 1.2em;
 	}
}

@media only screen and (min-width: 640px) {
	
	main {
		margin-top: 8.3em;
	}
	
	h1 {
		font-size: 2.5em;
	}

	.entry-content {
 	display: flex;
 	}
 	 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.fa-sign-out-alt,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.3em;
 	}
 		
 	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
 	.entry-user-name,
	.volley-user-name,
 	.entry p:last-child,
 	.volley p:last-child {
 		margin: 0 .3em;
 		font-size: 1.3em;
 	}
 	
 	.volley,
	.entry,
	.is-entry {
		margin-top: .6em;
		margin-bottom: .6em;
		padding: .9em;		
	}
 	
 	p a img {
 		width: 43ch;
 		margin: 0;
 	}
}

@media only screen and (min-width: 800px) {

	#popup-editor,
	.popup-editor,
	.entry,
	.volley {
		width: 96%;
		margin-left: auto;
		margin-right: auto;
		padding: 1em;
	}
	
	nav {
		margin-bottom: 1.4em;
	}
	
	main {
		margin-top: 8.5em;
	}
	 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.fa-sign-out-alt,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.5em;
 	}

	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
	.entry-user-name,
	.volley-user-name,
	.entry p:last-child,
	.volley p:last-child {
		margin: 0 .6em;
		font-size: 1.5em;
	}
	
	.fa-sign-out-alt {
		margin: .6em .6em 0 0;
	}
}

@media only screen and (min-width: 1024px) {
	
	#popup-editor,
	.popup-editor,
	.entry,
	.volley {
		width: 93%;
	}
		 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.fa-sign-out-alt,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.6em;
 	}
 	
	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
	.entry-user-name,
	.volley-user-name,
	.entry p:last-child,
	.volley p:last-child {
		margin: 0 .7em;
		font-size: 1.6em;
	}
	
	.fa-sign-out-alt {
		margin: .9em .9em 0 0;
	}	
}

@media only screen and (min-width: 1080px) {
	
	#popup-editor,
	.popup-editor,
	.entry,
	.volley {
		width: 90%;
		padding: 2em;
	}
	
	h1 {
		font-size: 3.3em;
	}
	
	nav {
		margin-bottom: 1.9em;
	}
	
	main {
		margin-top: 11.33em;
	}
	 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.fa-sign-out-alt,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.8em;
 	}
 	
 	button {
 		margin: 0 .1em;
 	}
 	
	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
	.entry-user-name,
	.volley-user-name,
	.entry p:last-child,
	.volley p:last-child {
		margin: 0 .8em;
		font-size: 1.8em;
	}
	
	.fa-sign-out-alt {
		margin-right: 1.2em;
	}
}
