body {
	min-width: 280px;
	margin: 0;
	background-color: black;
}

#wrapper {	
    margin: auto;
    background-color: yellow;
}

main {
	margin-top: 5.8em;
}

h1 {
	font-size: 2em;
}

#upload {
	/* width: 100px; */
	height: 100px;
	min-height: 0px !important;
}

textarea {
	height: 9em;
}

button,
input,
textarea,
#upload {
	border: none;
	outline: none;
}

#upload {
	background-color: cyan;
}

.user {
	display: flex;
	flex-direction: column;
	margin-right: 1em; 
}

button,
.fa-sign-out-alt,
.fa-search,
.fa-edit,
.fa-flag,
.fa-pencil-alt,
.fa-book,
.fa-book-open {
	cursor: pointer;
}

h1,
#btn-new,
#btn-save,
#btn-cancel,
#btn-delete,
#upload,
.entry-user-name,
.volley-user-name,
.entry-date,
.volley-date {
	font-weight: 600;
}

nav,
h1,
#popup-editor,
.popup-editor {
	padding: .45em;
}

.user-name,
.entry-content,
.volley-content,
.fa-edit,
.fa-flag,
.fa-pencil-alt,
.fa-book,
.fa-book-open {
	margin: .45em;
}

.fa-sign-out-alt {
	margin-top: .1em;
}

.entry-content,
.volley-content {
	margin: .3em;
	background-color: white;
}

header {
	width: 100%;
	position: fixed;
 	top: 0;
	background-color: blue;	
	z-index: 1;
}

h1 {
	color: white;
}

nav {	
	background-color: green;
}

#upload,
.entry-user-name,
.volley-user-name,
.volley-count,
.entry-date,
.volley-date,
.entry p:last-child,
.volley p:last-child {
	margin: 0;
	line-height: 1.2em;
	font-size: 1.1em;
}

p a:nth-child(2) {
  display: none;
}

p a img {
	display: block;	
	width: 31ch;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: .6em;
}

header,
#popup-editor,
.popup-editor {
	text-align: center;
}

#popup-editor,
.popup-editor {
	background-color: grey;	
}

#popup-editor textarea,
.popup-editor textarea {
	box-sizing: border-box;
	margin-bottom: .25em;
	width: 100%;
	resize: vertical;
}

#popup-editor,
.popup-editor,
#template-display-entry {	
	display: none;
}

.volley,
.entry,
.is-entry {
	position: relative;
	margin-top: .3em;
	margin-bottom: .3em;
	padding: .6em;		
}

.entry,
.is-entry {
	background-color: yellow;
}

.entry,
.volley {
	box-shadow: 3px 3px 6px #000000;	
}

.volley {
	background-color: orange;
}

.is-entry .volley-appendable {
	margin-bottom: 1.5em;
}

.float-right {
	float: right;
}

@media only screen and (min-width: 320px) {
	
	p a img {
		width: 36ch;
	}
}

@media only screen and (min-width: 375px) {

	.fa-sign-out-alt,
	.entry-user-name,
	.volley-user-name,
	.toggle-book,
	.volley-count,
	.entry p:last-child,
 	.volley p:last-child {
 		font-size: 1.2em;
 	}

	 p a img {
 		width: 43ch;
 	}	
}

@media only screen and (min-width: 640px) {
	
	main {
		margin-top: 7.3em;
	}
	
	h1 {
		font-size: 2.5em;
	}

	.entry-content {
 	display: flex;
 	}
 	
 	.user {
 		margin-top: .3em;
 	}
 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.user span,
 	.fa-sign-out-alt,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.3em;
 	}
 		
 	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
 	.entry-user-name,
	.volley-user-name,
 	.entry p:last-child,
 	.volley p:last-child {
 		margin: 0 .3em;
 		font-size: 1.3em;
 	} 	
 	
 	p a img {
 		width: 45ch;
 		margin: 0;
 	}
}

@media only screen and (min-width: 800px) {

	.entry,
	.volley {
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}
	
	main {
		margin-top: 7.5em;
	}
	 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.5em;
 	}

	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
	.entry-user-name,
	.volley-user-name,
	.entry p:last-child,
	.volley p:last-child {
		margin: 0 .6em;
		font-size: 1.5em;
	}
	
	p a img {
		width: 51ch;
	}
}

@media only screen and (min-width: 1024px) {
	
	.entry,
	.volley {
		width: 93%;
	}
	 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.6em;
 	}
 	
	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
	.entry-user-name,
	.volley-user-name,
	.entry p:last-child,
	.volley p:last-child {
		margin: 0 .7em;
		font-size: 1.6em;
	}
	
	p a img {
		width: 54ch;
	}
}

@media only screen and (min-width: 1080px) {
	
	.entry,
	.volley {
		width: 90%;
	}
	
	main {
		margin-top: 7.9em;
	}
	
	.user {
 		margin-right: 1.8em;
 	}
 	
 	button,
 	input,
 	textarea,
 	#upload,
 	.toggle-book,
 	.volley-count {
 		font-size: 1.8em;
 	}
 	
 	button {
 		margin: 0 .1em;
 	}
 	
	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
	.entry-user-name,
	.volley-user-name,
	.entry p:last-child,
	.volley p:last-child {
		margin: 0 .8em;
		font-size: 1.8em;
	}
	
	p a img {
		width: 57ch;
	}
}

@media only screen and (min-width: 1366px) {
	
	.entry,
	.volley {
		width: 87%;
	}
	
	h1 {
		font-size: 3.3em;
	}
	
	main {
		margin-top: 9.57em;
	}
	
	button,
 	input,
 	textarea,
 	#upload,
 	.toggle-book,
 	.volley-count {
 		font-size: 2em;
 	}
 	
	.fa-search,
	.fa-edit,
	.fa-flag,
	.fa-pencil-alt,
	.entry-user-name,
	.volley-user-name,
	.entry p:last-child,
	.volley p:last-child {
		margin: 0 1em;
		font-size: 2em;
	}

	p a img {
		width: 60ch;
	}
}
